.section.shooting.hidden
    .shooting__countdown
        .shooting__countdown-text.shooting__countdown-text--3 3
        .shooting__countdown-text.shooting__countdown-text--2 2
        .shooting__countdown-text.shooting__countdown-text--1 1
        .shooting__countdown-text.shooting__countdown-text--loading
            img(src="/images/common/loading.gif", alt="Loading icon")
    .shooting__title ⬆️ Mirá a la camara! 📸 ⬆️
