.section.preview.hidden
    .preview__body
        .preview__title Escanea el QR para descargar y compartir la foto!
        .preview__img-container
            img.preview__img(alt="Shooting Preview")
            .preview__revealing
                img(src='/images/common/loading.gif', alt="Shooting Preview")
        .preview__qr

    .preview__restarting
        .preview__restarting-text