
$unbounded-font: 'unbounded';

@font-face{
  font-family: $unbounded-font;
  src: url('/fonts/unbounded/unbounded_thin.woff2') format('woff2');

  font-weight: 300;
  font-display: swap;
}

@font-face{
  font-family: $unbounded-font;
  src: url('/fonts/unbounded/unbounded_regular.woff2') format('woff2');

  font-weight: 500;
  font-display: swap;
}

@font-face{
  font-family: $unbounded-font;
  src: url('/fonts/unbounded/unbounded_bold.woff2') format('woff2');

  font-weight: bold;
  font-display: swap;
}